body {
  margin: auto;
  background-color: black;
  font-family: fantasy;
}
.title h2{
  color: white;
  text-align: center;
}
.myForm{
  width: 100%;
  background-color: #dfe6e9;
  border-radius: 5px;
  padding: 20px;
}

.formField{
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: block;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}

.myButton{
  width: 100%;
  background-color: #0031b8;
  color: white;
  font-weight: bold;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: .5s ease;
}

.myButton:hover{
  background-color: rgba(14, 14, 226, 0.644);
}

.myList{
  list-style: none;
  text-align: center;
  font-size: 15px;
  font-weight: bold;
  margin: 10px auto;
  display: inline;
  float: left;
  width: 100%;
  color: white;
  box-shadow: 0 1px 5px rgb(255, 254, 254);
  cursor: pointer;
  background-color: rgb(137, 139, 158);
  transition: 0.5s;
  padding: 10px;
}

.myListButton{
  display: inline-block;
  height: auto;
  width: auto;
  padding: 8px 8px;
  border-radius: 5px;
  border: none;
  text-transform: uppercase;
  background-color: cyan;
  font-size: 15px;
  margin: 3px 5px;
  font-weight: bold;
  color: #333;
  transition: .5s ease;
}
.myListButton:hover{
  background-color: rgb(0, 60, 255);
  color: white;
}


.myList:hover{
  box-shadow: 0 2px 20px #333;
}
.fa{
  font-size: 30px;
}